<title>
    <%- title %>
</title>
<h1>
    <%- title %>
</h1>
<%- messages() %>
<div class="logon-box">
    <a href="/account/edit">Account Management</a>
 <% if (userData.account_type === "Employee" || userData.account_type === "Admin") { %>
    <h3>Inventory Management</h3>
    <p><a href="/inventory/">Manage Inventory</a></p>
  <% } %>
</div>