<main>
    <h1>Welcome to CSE Motors</h1>
    <%- messages() %>
    <div class="hero">
        <img src="images/vehicles/delorean.jpg" alt="hero-car-image">
        <div class="hero-box">
            <h2>DMC Delorean</h2>
            <h4>
                3 cup holders Superman doors Fuzzy dice!
            </h4>
            <button>
                Own Today
            </button>
        </div>
    </div>
    <div class="sections">
        <section>
            <h2>Delorean Upgrades</h2>
            <div class="upgrades">
                <div class="upgrade-box">
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitator">
                    <a href="">Flux Capacitator</a>
                </div>
                <div class="upgrade-box">
                    <img src="images/upgrades/flame.jpg" alt="Flame decals">
                    <a href="">Flame Decals</a>
                </div>
                <div class="upgrade-box">
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper stickers">
                    <a href="">Bumper Stickers</a>
                </div>
                <div class="upgrade-box">
                    <img src="images/upgrades/hub-cap.jpg" alt="">
                    <a href="">Hub Caps</a>
                </div>
            </div>
        </section>
        <section id="reviews">
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like traveling in time (4/5)"</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The Most Futuristic ride of our day" (4.5/5)</li>
                <li>"80's livin and i Love it!" (5/5)</li>
            </ul>
        </section>
    </div>
</main>

