/******* Change Box Model ***************/
*,
*:before,
*:after {
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




header {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

header a {
  text-decoration: none;
  color: black;
}

nav ul {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  padding: 10px;
}

main {
  background-color: white;
}

footer {
  background-color: white;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 70vh; 
}


.hero img {
  width: 100%;
  margin: 10px;
  object-fit:contain;
}

.hero-box {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 20%;
  background-color: rgba(255,255,255,0.8);
  padding: 2rem;
  border-radius: 1rem;
  max-width: 300px;
  text-align: left;
}

.hero div h2, .hero div h4 {
  color: rgb(0, 160, 213);
  font-weight: bold;
}

.hero-box button {
  background-color: rgb(0, 160, 213);
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.upgrade-box {
  background-color:rgb(0, 160, 213);
  border-left: 1px solid purple;
  border-right: 1px solid purple;
  border-top: 1px solid purple;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.upgrade-box a {
  background-color: white;
  width: 100%;
  border: 1px solid purple;
  
}

.sections {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

#reviews {
  grid-row: 1;
}

.sections h2 {
  text-align: center;
}

.upgrades {
  margin: 10px;
}


footer {
  padding: 1rem;
  font-weight: bold;
}

