<%- include(../partials/header)%>
<% if (title) { %>
    <h1><%= title %></h1>
    <div id="car/details">
        <%- carHtml  %>
    </div>
    <% } else {
        res.redirect('/')
    } %>
    
<%- include(../partials/footer)%>
<%# messages() %>